<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".bytes" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pcsv" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".tfont" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".mtseq" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
