@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657683272765') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontshuru:before {
  content: "\e615";
}

.icon-iconfonthot:before {
  content: "\e611";
}

.icon-iconfonttehuijingxuan:before {
  content: "\e631";
}

.icon-iconfontok:before {
  content: "\e606";
}

.icon-iconfontfavfill:before {
  content: "\e612";
}

.icon-iconfontjinggao:before {
  content: "\e61a";
}

.icon-iconfonticon6:before {
  content: "\e62e";
}

.icon-iconfontjia:before {
  content: "\e604";
}

.icon-iconfonticonfontcncha:before {
  content: "\e610";
}

.icon-iconfonticonfontzhifubao:before {
  content: "\e613";
}

.icon-iconfontxiaoxi:before {
  content: "\e61e";
}

.icon-iconfontcog:before {
  content: "\e626";
}

.icon-iconfontpengyouquan:before {
  content: "\e629";
}

.icon-iconfontlock:before {
  content: "\e639";
}

.icon-iconfonthome0:before {
  content: "\e614";
}

.icon-iconfonticonfontlocationfill:before {
  content: "\e620";
}

.icon-custom-tolove:before {
  content: "\e640";
}

.icon-iconfontvoicefill:before {
  content: "\e62c";
}

.icon-iconfontwenhao1:before {
  content: "\e60b";
}

.icon-iconfontxuanzhong1:before {
  content: "\e621";
}

.icon-iconfonticonfonti2:before {
  content: "\e62d";
}

.icon-iconfonticonfonti2copy:before {
  content: "\e62f";
}

.icon-iconfonticonfonti2copycopy:before {
  content: "\e630";
}

.icon-iconfontgerenzhongxin31:before {
  content: "\e632";
}

.icon-iconfontchexiao:before {
  content: "\e619";
}

.icon-iconfonticontihuan:before {
  content: "\e633";
}

.icon-iconfonticon7:before {
  content: "\e63b";
}

.icon-iconfontziliao:before {
  content: "\e609";
}

.icon-iconfontihou:before {
  content: "\e634";
}

.icon-ai-weixin:before {
  content: "\e635";
}

.icon-iconfontgift-copy-copy-copy:before {
  content: "\e608";
}

.icon-iconfontdianying:before {
  content: "\e607";
}

.icon-iconfontanquan:before {
  content: "\e60c";
}

.icon-iconfontcamerafill:before {
  content: "\e60f";
}

.icon-iconfontjudian:before {
  content: "\e616";
}

.icon-iconfontlicai:before {
  content: "\e62a";
}

.icon-weibiaoti1:before {
  content: "\e623";
}

.icon-zengjia:before {
  content: "\e641";
}

.icon-jianshao:before {
  content: "\e642";
}

.icon-iconfont-tuiguang:before {
  content: "\e66c";
}

.icon-ios:before {
  content: "\e60d";
}

.icon-zuojiantou:before {
  content: "\e65a";
}

.icon-iconfont-jiesuan:before {
  content: "\e6af";
}

.icon-anzhuo:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e662";
}

